
$border: (
    bordercolor: #fff,
    border: solid 4px
);
$estilos: (
  colorPrimario: #e34529,
  colorSecundario: #9ecc1f,
  colorTextoClaro: #fff,
  colorTextoOscuro: #222,
  primary-color: #0E4E90,
  secondary-color: #3EB5E1,
  gray-color: #4D4D4D,
  paddingDefault: 10px,
  borderRadius: 05px
);
  
  .boton-primario {
    background-color: map-get($estilos, colorPrimario);
    color: map-get($estilos, colorTextoClaro);
    padding: map-get($estilos, paddingDefault);
}

.boton-secundario {
  background-color: map-get($estilos, colorSecundario);
  color: map-get($estilos, colorTextoOscuro);
  padding: map-get($estilos, paddingDefault);
  border: none;
  border-radius: map-get($estilos, borderRadius);
}